<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611968909451-0582933ha97mgcqb8hrfqdva61hqi72r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611968909451-0582933ha97mgcqb8hrfqdva61hqi72r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKAG-0uf8LS4BEvbgBUEXwHImyIPIeMgo</string>
	<key>GCM_SENDER_ID</key>
	<string>611968909451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wecode2021</string>
	<key>PROJECT_ID</key>
	<string>wecode-17481</string>
	<key>STORAGE_BUCKET</key>
	<string>wecode-17481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611968909451:ios:21375143facfbcf78f948e</string>
</dict>
</plist>